CompileFlags:
  Add: ["/std:c++latest"]
# Diagnostics:
#   UnusedIncludes: Strict
#   MissingIncludes: Strict
#   Includes:
#     IgnoreHeader:
#     - "core_(api|plugin|types).h"
#     - "CommonPCH.h"
Completion:
  HeaderInsertion: Never