---
Language: Cpp
BasedOnStyle: Microsoft
SortIncludes: Never
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlignAfterOpenBracket: DontAlign
...
